WEBooksBiztalk/Web References/WEBooksBarnesNoble/WEBooksBarnesNoble.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webooks.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://webooks.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webooks.org/">
      <s:element name="ProcuraItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemsAmazon" type="tns:ArrayOfItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Isbn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Autor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Editora" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categoria" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Preco" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Ano" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Disponibilidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fornecedor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCapa" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcuraItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcuraItemsResult" type="tns:ArrayOfItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcuraItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isbn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcuraItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcuraItemResult" type="tns:Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcuraItemsSoapIn">
    <wsdl:part name="parameters" element="tns:ProcuraItems" />
  </wsdl:message>
  <wsdl:message name="ProcuraItemsSoapOut">
    <wsdl:part name="parameters" element="tns:ProcuraItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ProcuraItemSoapIn">
    <wsdl:part name="parameters" element="tns:ProcuraItem" />
  </wsdl:message>
  <wsdl:message name="ProcuraItemSoapOut">
    <wsdl:part name="parameters" element="tns:ProcuraItemResponse" />
  </wsdl:message>
  <wsdl:portType name="WEBooksBarnesNobleWSSoap">
    <wsdl:operation name="ProcuraItems">
      <wsdl:input message="tns:ProcuraItemsSoapIn" />
      <wsdl:output message="tns:ProcuraItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcuraItem">
      <wsdl:input message="tns:ProcuraItemSoapIn" />
      <wsdl:output message="tns:ProcuraItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WEBooksBarnesNobleWSSoap" type="tns:WEBooksBarnesNobleWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcuraItems">
      <soap:operation soapAction="http://webooks.org/ProcuraItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcuraItem">
      <soap:operation soapAction="http://webooks.org/ProcuraItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WEBooksBarnesNobleWSSoap12" type="tns:WEBooksBarnesNobleWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcuraItems">
      <soap12:operation soapAction="http://webooks.org/ProcuraItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcuraItem">
      <soap12:operation soapAction="http://webooks.org/ProcuraItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WEBooksBarnesNobleWS">
    <wsdl:port name="WEBooksBarnesNobleWSSoap" binding="tns:WEBooksBarnesNobleWSSoap">
      <soap:address location="http://sp/WEBooksBarnesNoble/WEBooksBarnesNoble.asmx" />
    </wsdl:port>
    <wsdl:port name="WEBooksBarnesNobleWSSoap12" binding="tns:WEBooksBarnesNobleWSSoap12">
      <soap12:address location="http://sp/WEBooksBarnesNoble/WEBooksBarnesNoble.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>