Portal/App_WebReferences/WEBooksBizTalk_WS/WEBooksBiztalk.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webooks.pt/" xmlns:s1="http://www.WEBooks.pt/WEBooksBiztalk" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://webooks.pt/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "WEBooksBiztalk, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5a4abfd09f0aef29" published web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webooks.pt/">
      <s:import namespace="http://www.WEBooks.pt/WEBooksBiztalk" />
      <s:element name="MostraLivrosMaisPesquisados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numeroLivros" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostraLivrosMaisPesquisadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Books" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostraEncomendasLivro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ISBN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostraEncomendasLivroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Encomendas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoComprasEncomenda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoComprasEncomendaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Encomendas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZIPcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="longitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="latitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numCartaoCredito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataValidadeCartaoValidade" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistaClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="LoginUtilizador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUtilizadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Utilizador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostraDadosCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostraDadosClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizaEncomenda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizaEncomendaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelaEncomenda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Encomenda" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelaEncomendaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Encomenda" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostraEncomendasCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostraEncomendasClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Encomendas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PesquisaLivros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="page" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isbn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PesquisaLivrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Books" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoComprasLivros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistoricoComprasLivrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Books" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsereLivroCarrinhoCompras">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ISBN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantidade" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsereLivroCarrinhoComprasResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListaCarrinhoCompras">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaCarrinhoComprasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Books" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostraLivrosMaisComprados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numeroLivros" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostraLivrosMaisCompradosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Books" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaPesquisaHistorico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaPesquisaHistoricoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Books" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.WEBooks.pt/WEBooksBiztalk">
      <s:element name="Books" type="s1:Books" />
      <s:complexType name="Books">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="s1:Book" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Book">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ISBN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Autor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Editora" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ano" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Disponibilidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCapa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TemDesconto" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Preco" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Fornecedor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Desconto" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="PrecoVenda" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantidade" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="Encomendas" type="s1:Encomendas" />
      <s:complexType name="Encomendas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Encomenda" nillable="true" type="s1:Encomenda" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Encomenda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdEncomenda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorTotal" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="DataCriacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ListaBook" type="s1:ArrayOfBook" />
          <s:element minOccurs="0" maxOccurs="1" name="HistoricoEstado" type="s1:ArrayOfEstadoEncomenda" />
          <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="s1:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBook">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="s1:Book" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEstadoEncomenda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EstadoEncomenda" nillable="true" type="s1:EstadoEncomenda" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EstadoEncomenda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdEncomenda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataAlteracao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeEstado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Contador" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cliente">
        <s:complexContent mixed="false">
          <s:extension base="s1:Utilizador">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ZIPcode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NumCartaoCredito" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataValidadeCartaoValidade" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Utilizador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoUtilizador" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Utilizador" type="s1:Utilizador" />
      <s:element name="Cliente" type="s1:Cliente" />
      <s:element name="Encomenda" type="s1:Encomenda" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MostraLivrosMaisPesquisadosSoapIn">
    <wsdl:part name="parameters" element="tns:MostraLivrosMaisPesquisados" />
  </wsdl:message>
  <wsdl:message name="MostraLivrosMaisPesquisadosSoapOut">
    <wsdl:part name="parameters" element="tns:MostraLivrosMaisPesquisadosResponse" />
  </wsdl:message>
  <wsdl:message name="MostraEncomendasLivroSoapIn">
    <wsdl:part name="parameters" element="tns:MostraEncomendasLivro" />
  </wsdl:message>
  <wsdl:message name="MostraEncomendasLivroSoapOut">
    <wsdl:part name="parameters" element="tns:MostraEncomendasLivroResponse" />
  </wsdl:message>
  <wsdl:message name="HistoricoComprasEncomendaSoapIn">
    <wsdl:part name="parameters" element="tns:HistoricoComprasEncomenda" />
  </wsdl:message>
  <wsdl:message name="HistoricoComprasEncomendaSoapOut">
    <wsdl:part name="parameters" element="tns:HistoricoComprasEncomendaResponse" />
  </wsdl:message>
  <wsdl:message name="RegistaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:RegistaCliente" />
  </wsdl:message>
  <wsdl:message name="RegistaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:RegistaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="LoginUtilizadorSoapIn">
    <wsdl:part name="parameters" element="tns:LoginUtilizador" />
  </wsdl:message>
  <wsdl:message name="LoginUtilizadorSoapOut">
    <wsdl:part name="parameters" element="tns:LoginUtilizadorResponse" />
  </wsdl:message>
  <wsdl:message name="MostraDadosClienteSoapIn">
    <wsdl:part name="parameters" element="tns:MostraDadosCliente" />
  </wsdl:message>
  <wsdl:message name="MostraDadosClienteSoapOut">
    <wsdl:part name="parameters" element="tns:MostraDadosClienteResponse" />
  </wsdl:message>
  <wsdl:message name="RealizaEncomendaSoapIn">
    <wsdl:part name="parameters" element="tns:RealizaEncomenda" />
  </wsdl:message>
  <wsdl:message name="RealizaEncomendaSoapOut">
    <wsdl:part name="parameters" element="tns:RealizaEncomendaResponse" />
  </wsdl:message>
  <wsdl:message name="CancelaEncomendaSoapIn">
    <wsdl:part name="parameters" element="tns:CancelaEncomenda" />
  </wsdl:message>
  <wsdl:message name="CancelaEncomendaSoapOut">
    <wsdl:part name="parameters" element="tns:CancelaEncomendaResponse" />
  </wsdl:message>
  <wsdl:message name="MostraEncomendasClienteSoapIn">
    <wsdl:part name="parameters" element="tns:MostraEncomendasCliente" />
  </wsdl:message>
  <wsdl:message name="MostraEncomendasClienteSoapOut">
    <wsdl:part name="parameters" element="tns:MostraEncomendasClienteResponse" />
  </wsdl:message>
  <wsdl:message name="PesquisaLivrosSoapIn">
    <wsdl:part name="parameters" element="tns:PesquisaLivros" />
  </wsdl:message>
  <wsdl:message name="PesquisaLivrosSoapOut">
    <wsdl:part name="parameters" element="tns:PesquisaLivrosResponse" />
  </wsdl:message>
  <wsdl:message name="HistoricoComprasLivrosSoapIn">
    <wsdl:part name="parameters" element="tns:HistoricoComprasLivros" />
  </wsdl:message>
  <wsdl:message name="HistoricoComprasLivrosSoapOut">
    <wsdl:part name="parameters" element="tns:HistoricoComprasLivrosResponse" />
  </wsdl:message>
  <wsdl:message name="InsereLivroCarrinhoComprasSoapIn">
    <wsdl:part name="parameters" element="tns:InsereLivroCarrinhoCompras" />
  </wsdl:message>
  <wsdl:message name="InsereLivroCarrinhoComprasSoapOut">
    <wsdl:part name="parameters" element="tns:InsereLivroCarrinhoComprasResponse" />
  </wsdl:message>
  <wsdl:message name="ListaCarrinhoComprasSoapIn">
    <wsdl:part name="parameters" element="tns:ListaCarrinhoCompras" />
  </wsdl:message>
  <wsdl:message name="ListaCarrinhoComprasSoapOut">
    <wsdl:part name="parameters" element="tns:ListaCarrinhoComprasResponse" />
  </wsdl:message>
  <wsdl:message name="MostraLivrosMaisCompradosSoapIn">
    <wsdl:part name="parameters" element="tns:MostraLivrosMaisComprados" />
  </wsdl:message>
  <wsdl:message name="MostraLivrosMaisCompradosSoapOut">
    <wsdl:part name="parameters" element="tns:MostraLivrosMaisCompradosResponse" />
  </wsdl:message>
  <wsdl:message name="ListaPesquisaHistoricoSoapIn">
    <wsdl:part name="parameters" element="tns:ListaPesquisaHistorico" />
  </wsdl:message>
  <wsdl:message name="ListaPesquisaHistoricoSoapOut">
    <wsdl:part name="parameters" element="tns:ListaPesquisaHistoricoResponse" />
  </wsdl:message>
  <wsdl:portType name="WEBooksBiztalkSoap">
    <wsdl:operation name="MostraLivrosMaisPesquisados">
      <wsdl:input message="tns:MostraLivrosMaisPesquisadosSoapIn" />
      <wsdl:output message="tns:MostraLivrosMaisPesquisadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MostraEncomendasLivro">
      <wsdl:input message="tns:MostraEncomendasLivroSoapIn" />
      <wsdl:output message="tns:MostraEncomendasLivroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistoricoComprasEncomenda">
      <wsdl:input message="tns:HistoricoComprasEncomendaSoapIn" />
      <wsdl:output message="tns:HistoricoComprasEncomendaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistaCliente">
      <wsdl:input message="tns:RegistaClienteSoapIn" />
      <wsdl:output message="tns:RegistaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginUtilizador">
      <wsdl:input message="tns:LoginUtilizadorSoapIn" />
      <wsdl:output message="tns:LoginUtilizadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MostraDadosCliente">
      <wsdl:input message="tns:MostraDadosClienteSoapIn" />
      <wsdl:output message="tns:MostraDadosClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealizaEncomenda">
      <wsdl:input message="tns:RealizaEncomendaSoapIn" />
      <wsdl:output message="tns:RealizaEncomendaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelaEncomenda">
      <wsdl:input message="tns:CancelaEncomendaSoapIn" />
      <wsdl:output message="tns:CancelaEncomendaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MostraEncomendasCliente">
      <wsdl:input message="tns:MostraEncomendasClienteSoapIn" />
      <wsdl:output message="tns:MostraEncomendasClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PesquisaLivros">
      <wsdl:input message="tns:PesquisaLivrosSoapIn" />
      <wsdl:output message="tns:PesquisaLivrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistoricoComprasLivros">
      <wsdl:input message="tns:HistoricoComprasLivrosSoapIn" />
      <wsdl:output message="tns:HistoricoComprasLivrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsereLivroCarrinhoCompras">
      <wsdl:input message="tns:InsereLivroCarrinhoComprasSoapIn" />
      <wsdl:output message="tns:InsereLivroCarrinhoComprasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaCarrinhoCompras">
      <wsdl:input message="tns:ListaCarrinhoComprasSoapIn" />
      <wsdl:output message="tns:ListaCarrinhoComprasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MostraLivrosMaisComprados">
      <wsdl:input message="tns:MostraLivrosMaisCompradosSoapIn" />
      <wsdl:output message="tns:MostraLivrosMaisCompradosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaPesquisaHistorico">
      <wsdl:input message="tns:ListaPesquisaHistoricoSoapIn" />
      <wsdl:output message="tns:ListaPesquisaHistoricoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WEBooksBiztalkSoap" type="tns:WEBooksBiztalkSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostraLivrosMaisPesquisados">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/MostraLivrosMaisPesquisados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostraEncomendasLivro">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/MostraEncomendasLivro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoComprasEncomenda">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/HistoricoComprasEncomenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistaCliente">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/RegistaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUtilizador">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/LoginUtilizador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostraDadosCliente">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/MostraDadosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizaEncomenda">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/RealizaEncomenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaEncomenda">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/CancelaEncomenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostraEncomendasCliente">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/MostraEncomendasCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PesquisaLivros">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/PesquisaLivros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoComprasLivros">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/HistoricoComprasLivros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsereLivroCarrinhoCompras">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/InsereLivroCarrinhoCompras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCarrinhoCompras">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/ListaCarrinhoCompras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostraLivrosMaisComprados">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/MostraLivrosMaisComprados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPesquisaHistorico">
      <soap:operation soapAction="http://webooks.pt/WEBooksBiztalk/ListaPesquisaHistorico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WEBooksBiztalkSoap12" type="tns:WEBooksBiztalkSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostraLivrosMaisPesquisados">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/MostraLivrosMaisPesquisados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostraEncomendasLivro">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/MostraEncomendasLivro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoComprasEncomenda">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/HistoricoComprasEncomenda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistaCliente">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/RegistaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUtilizador">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/LoginUtilizador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostraDadosCliente">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/MostraDadosCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizaEncomenda">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/RealizaEncomenda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaEncomenda">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/CancelaEncomenda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostraEncomendasCliente">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/MostraEncomendasCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PesquisaLivros">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/PesquisaLivros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricoComprasLivros">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/HistoricoComprasLivros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsereLivroCarrinhoCompras">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/InsereLivroCarrinhoCompras" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCarrinhoCompras">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/ListaCarrinhoCompras" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostraLivrosMaisComprados">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/MostraLivrosMaisComprados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPesquisaHistorico">
      <soap12:operation soapAction="http://webooks.pt/WEBooksBiztalk/ListaPesquisaHistorico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WEBooksBiztalk">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "WEBooksBiztalk, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5a4abfd09f0aef29" published web service.</wsdl:documentation>
    <wsdl:port name="WEBooksBiztalkSoap" binding="tns:WEBooksBiztalkSoap">
      <soap:address location="http://sp/WEBooksBiztalk_Proxy/WEBooksBiztalk.asmx" />
    </wsdl:port>
    <wsdl:port name="WEBooksBiztalkSoap12" binding="tns:WEBooksBiztalkSoap12">
      <soap12:address location="http://sp/WEBooksBiztalk_Proxy/WEBooksBiztalk.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>