Portal/App_WebReferences/WEBooksNY_WS/WEBooksNY.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WEBooksNY.pt/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://WEBooksNY.pt/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WEBooksNY.pt/">
      <s:element name="LivrosTopSellers">
        <s:complexType />
      </s:element>
      <s:element name="LivrosTopSellersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LivrosTopSellersResult" type="tns:ArrayOfLivroPromocao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLivroPromocao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LivroPromocao" nillable="true" type="tns:LivroPromocao" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LivroPromocao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TipoCapa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeAutor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AssinalaLivrosDesconto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaLivros" type="tns:ArrayOfDesconto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDesconto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Desconto" nillable="true" type="tns:Desconto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Desconto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCapa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ComDesconto" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AssinalaLivrosDescontoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AssinalaLivrosDescontoResult" type="tns:ArrayOfDesconto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolveTipoCapa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoCapa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolveTipoCapaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="devolveTipoCapaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testaAssinala">
        <s:complexType />
      </s:element>
      <s:element name="testaAssinalaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testaAssinalaResult" type="tns:ArrayOfDesconto" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LivrosTopSellersSoapIn">
    <wsdl:part name="parameters" element="tns:LivrosTopSellers" />
  </wsdl:message>
  <wsdl:message name="LivrosTopSellersSoapOut">
    <wsdl:part name="parameters" element="tns:LivrosTopSellersResponse" />
  </wsdl:message>
  <wsdl:message name="AssinalaLivrosDescontoSoapIn">
    <wsdl:part name="parameters" element="tns:AssinalaLivrosDesconto" />
  </wsdl:message>
  <wsdl:message name="AssinalaLivrosDescontoSoapOut">
    <wsdl:part name="parameters" element="tns:AssinalaLivrosDescontoResponse" />
  </wsdl:message>
  <wsdl:message name="devolveTipoCapaSoapIn">
    <wsdl:part name="parameters" element="tns:devolveTipoCapa" />
  </wsdl:message>
  <wsdl:message name="devolveTipoCapaSoapOut">
    <wsdl:part name="parameters" element="tns:devolveTipoCapaResponse" />
  </wsdl:message>
  <wsdl:message name="testaAssinalaSoapIn">
    <wsdl:part name="parameters" element="tns:testaAssinala" />
  </wsdl:message>
  <wsdl:message name="testaAssinalaSoapOut">
    <wsdl:part name="parameters" element="tns:testaAssinalaResponse" />
  </wsdl:message>
  <wsdl:portType name="WEBooksNYSoap">
    <wsdl:operation name="LivrosTopSellers">
      <wsdl:input message="tns:LivrosTopSellersSoapIn" />
      <wsdl:output message="tns:LivrosTopSellersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssinalaLivrosDesconto">
      <wsdl:input message="tns:AssinalaLivrosDescontoSoapIn" />
      <wsdl:output message="tns:AssinalaLivrosDescontoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="devolveTipoCapa">
      <wsdl:input message="tns:devolveTipoCapaSoapIn" />
      <wsdl:output message="tns:devolveTipoCapaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="testaAssinala">
      <wsdl:input message="tns:testaAssinalaSoapIn" />
      <wsdl:output message="tns:testaAssinalaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WEBooksNYSoap" type="tns:WEBooksNYSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LivrosTopSellers">
      <soap:operation soapAction="http://WEBooksNY.pt/LivrosTopSellers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssinalaLivrosDesconto">
      <soap:operation soapAction="http://WEBooksNY.pt/AssinalaLivrosDesconto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolveTipoCapa">
      <soap:operation soapAction="http://WEBooksNY.pt/devolveTipoCapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testaAssinala">
      <soap:operation soapAction="http://WEBooksNY.pt/testaAssinala" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WEBooksNYSoap12" type="tns:WEBooksNYSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LivrosTopSellers">
      <soap12:operation soapAction="http://WEBooksNY.pt/LivrosTopSellers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssinalaLivrosDesconto">
      <soap12:operation soapAction="http://WEBooksNY.pt/AssinalaLivrosDesconto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolveTipoCapa">
      <soap12:operation soapAction="http://WEBooksNY.pt/devolveTipoCapa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testaAssinala">
      <soap12:operation soapAction="http://WEBooksNY.pt/testaAssinala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WEBooksNY">
    <wsdl:port name="WEBooksNYSoap" binding="tns:WEBooksNYSoap">
      <soap:address location="http://localhost/WEBooksNY/WEBooksNY.asmx" />
    </wsdl:port>
    <wsdl:port name="WEBooksNYSoap12" binding="tns:WEBooksNYSoap12">
      <soap12:address location="http://localhost/WEBooksNY/WEBooksNY.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>